<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-2 col-md-2">
                                <div class="icon-big text-left icon-warning">
                                    <img src="https://raw.githubusercontent.com/Engineering-Research-and-Development/DYMER/master/screenshots/dymer-logo.png" style="width: 45px;">
                                </div>
                            </div>
                            <div class="col-10 col-md-10">

                                <p class="card-category ">Dymer
                                    <a href="info" target="_blank" class="updateAction"> <i class="fa fa-sign-in " aria-hidden="true"></i></a>
                                </p>

                                <div class="row">
                                    <div class="col-6 col-md-6">Version: <b>{{version}}</b></div>
                                    <div class="col-6 col-md-6">UUID: <b>{{uuid}}</b></div>
                                    <div class="col-6 col-md-6">Logs: <b>{{logstype}}</b>
                                        <a href="mclgs" target="_blank" class="updateAction"> <i class="fa fa-sign-in " aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <!--  <div class="stats">
                            <i class="fa fa-refresh"></i> Update Now
                          </div>-->
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-left icon-warning">
                                    <i class="nc-icon nc-atom text-primary"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">Indices</p>

                                    <p class="card-title">{{totIndices}}</p>
                                    <div class="spinner-border text-primary" role="status" ng-if=" totIndices==undefined">
                                        <span class="sr-only">Loading...</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <!--<small>UUID: <b>{{uuid}}</b></small>
                         <div class="stats">
                <i class="fa fa-refresh"></i> Update Now
              </div>-->
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-left icon-warning">
                                    <i class="nc-icon nc-layout-11 text-success"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">Templates
                                        <a href="managetemplate" target="_blank" class="updateAction"> <i class="fa fa-sign-in " aria-hidden="true"></i></a>
                                    </p>
                                    <p class="card-title">{{totTemplates}}</p>
                                    <div class="spinner-border text-success" role="status" ng-if=" totTemplates==undefined">
                                        <span class="sr-only">Loading...</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <!--<i class="fa fa-calendar-o"></i> Last day-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-left icon-warning">
                                    <i class="nc-icon nc-tile-56 text-warning"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">Models
                                        <a href="managemodel" target="_blank" class="updateAction"> <i class="fa fa-sign-in " aria-hidden="true"></i></a>
                                    </p>
                                    <p class="card-title">{{totModels}}</p>
                                    <div class="spinner-border text-warning" role="status" ng-if="totModels==undefined">
                                        <span class="sr-only">Loading...</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <!-- <div class="stats">
                <i class="fa fa-refresh"></i> Update now
              </div>-->
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-left icon-warning">
                                    <i class="nc-icon nc-world-2 text-info"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">Entities
                                        <a href="listentities" target="_blank" class="updateAction"> <i class="fa fa-sign-in " aria-hidden="true"></i></a>
                                    </p>
                                    <p class="card-title">{{totEntities}}</p>
                                    <div class="spinner-border text-info" role="status" ng-if="totEntities==undefined">
                                        <span class="sr-only">Loading...</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <!--  <div class="stats">
                  <i class="fa fa-refresh"></i> Update Now
                </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">

        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-left icon-warning">
                            <i class="fa fa-sitemap text-danger"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Relations
                                <a href="relations" target="_blank" class="updateAction"> <i class="fa fa-sign-in " aria-hidden="true"></i></a>
                            </p>
                            <p class="card-title">{{totRelations}}</p>
                            <div class="spinner-border text-danger" role="status" ng-if=" totRelations==undefined">
                                <span class="sr-only">Loading...</span>
                            </div>

                        </div>
                    </div>
                    <div>
                        <nvd3 options='options' data='data'></nvd3>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="pull-right">
                    <span class="flushAction" ng-click="deleteAllEntityAndIndexByIndex({index:'entity_relation'})">Delete <i
                            class="fa fa-scissors  " title="Delete Index and all entities"></i></span>
                    <span class="deleteAction" ng-click="deleteAllEntityByIndex({index:'entity_relation'})">Flush <i
                            class="fa fa-trash  " title="Flush all entities"></i></span>

                </div>

                <!--  <div class="stats">
                          <i class="fa fa-refresh"></i> Update Now
                        </div>-->
            </div>
        </div>

    </div>
</div>





<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title text-warning">Models<span class="card-category" style="font-size: small;"> vs
                        indices</span></h5>

            </div>
            <div class="card-body   ">
                <div class=" ">
                    <table class="table table-hover table-sm " id="dtModelsIndex">
                        <thead class=" text-primary">
                            <tr>
                                <th>#</th>
                                <th>
                                    index
                                </th>
                                <th class=" text-center">
                                    Model
                                </th>
                                <th class=" text-center">
                                    Entities
                                </th>
                                <th class=" text-center">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="el in ListEntities  | orderBy:'-count'">
                                <td>{{$index+1}}</td>
                                <td>
                                    {{ el.index }}
                                </td>


                                <td class="text-right">
                                    <div ng-if="el.model.exsist == true" class=" text-center">
                                        <!-- <i class="nc-icon nc-check-2"></i>-->
                                        {{ el.model.title }}
                                    </div>
                                    <div ng-if="el.model.exsist != true" class=" text-center">
                                        <i class="nc-icon nc-simple-remove"></i>
                                    </div>
                                </td>
                                <td class=" text-center">
                                    {{ el.count }}
                                </td>
                                <td class=" text-center actmodindexdash">
                                    <i class="fa fa-scissors  flushAction" title="Delete Index and all entities" index-entity="{{ el.index }}" ng-click="deleteAllEntityAndIndexByIndex(el,$index)"></i>
                                    <i class="fa fa-trash deleteAction " title="Flush all entities" index-entity="{{ el.index }}" ng-click="deleteAllEntityByIndex(el,$index)"></i>
                                    <!--<i class="fa fa-download" title="without relations" ng-click="exportentnorel(el,$index)" aria-hidden="true"></i>
                                    <i class="fa fa-download" title="with relations" ng-click="exportent(el,$index)" aria-hidden="true"></i>-->
                                    <i ng-show="redison" class="fa fa-eraser deleteAction " title="Invalidate cache" index-entity="{{ el.index }}" ng-click="invalidateCache(el,$index)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button ng-show="redison" class="btn btn-sm" type="button" style="float: right;" ng-click="invalidateAllCache()">Empty
                        Redis cache</button>
                </div>



            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title text-success">Templates <span class="card-category" style="font-size: small;"> vs
                        indices</span></h5>

            </div>
            <div class="card-body   ">
                <div class=" ">
                    <table class="table  table-hover table-sm " id="dtTemplateIndex">
                        <thead class=" text-primary">
                            <td>#</td>
                            <th>
                                Index
                            </th>
                            <th class=" text-center">
                                Full Content
                            </th>
                            <th class=" text-center">
                                Preview List
                            </th>
                            <th class=" text-center">
                                General Preview
                            </th>
                            <th class=" text-center">
                                Preview Map
                            </th>

                        </thead>
                        <tbody>
                            <tr ng-repeat="el in ListEntities | orderBy:'index' ">
                                <td>{{$index+1}}</td>
                                <td>
                                    {{ el.index }} ( {{ el.model.title }} )
                                </td>
                                <td>
                                    <div ng-if="el.templates.fullcontent.exsist == true" class=" text-center">
                                        <!--<i class="nc-icon nc-check-2"></i>-->
                                        <div>{{ el.templates.fullcontent.title }}</div>
                                    </div>
                                    <div ng-if="el.templates.fullcontent.exsist != true" class=" text-center">
                                        <i class="nc-icon nc-simple-remove"></i>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="el.templates.teaserlist.exsist == true" class=" text-center">
                                        <!-- <i class="nc-icon nc-check-2"></i>-->
                                        <div>{{ el.templates.teaserlist.title }}</div>
                                    </div>
                                    <div ng-if="el.templates.teaserlist.exsist != true" class=" text-center">
                                        <i class="nc-icon nc-simple-remove"></i>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="el.templates.teaser.exsist == true" class=" text-center">
                                        <!-- <i class="nc-icon nc-check-2"></i>-->
                                        <div>{{ el.templates.teaser.title }}</div>
                                    </div>
                                    <div ng-if="el.templates.teaser.exsist != true" class=" text-center">
                                        <i class="nc-icon nc-simple-remove"></i>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div ng-if="el.templates.teasermap.exsist == true" class=" text-center">
                                        <!--<i class="nc-icon nc-check-2"></i>-->
                                        <div>{{ el.templates.teasermap.title }}</div>
                                    </div>
                                    <div ng-if="el.templates.teasermap.exsist != true" class=" text-center">
                                        <i class="nc-icon nc-simple-remove"></i>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <!--<div class="card-footer ">
              <hr>
              <div class="stats">
                <i class="fa fa-history"></i> Updated 3 minutes ago
              </div>
            </div>-->
        </div>
    </div>
</div>

<!--

<form  id="uploadfrom" ng-controller="formCtrl">
    <label>Titolo</label>
    <input class="form-control" type="text" name="title" ng-model="myform.title">
    <br>
    <label>Author</label>
    <input class="form-control" type="text" name="author" ng-model="myform.author">
    <br>
    <label>Description</label>
    <input class="form-control" type="text" name="description" ng-model="myform.description">
    <br>
    <input id="inp_file" type="file" file-input="files" multiple="multiple" />

    <br>
    <label>tre</label>
    <input class="form-control" type="text" name="lol" ng-model="myform.lol">
    <br>
    <br>
    <br>
    <div id="success">{{success}}</div>
    <button class="btn btn-mini btn-info text-right" id='upload' ng-click='upload()' >Inserisci</button>
</form>  -->