 
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">DYMER</h5>
        <p class="card-category">performance</p>
      </div>
      <div class="card-body ">
        L'idea del progetto nasce dall'esigenza di voler correlare i contenuti presenti in diverse piattaforme
        decentralizzandone la memorizzazione in modo tale da non circoscrivere la conoscenza fornita a un singolo contesto.
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          
        </div>
      </div>
    </div></div>