<div class="col-md-12">
  <div class="card ">
    <div class="card-header ">
      <h5 class="card-title">KMS</h5>
      <p class="card-category"> Add form</p>
    </div>
    <div class="card-body text-center"  >
      <div class="alert-warning" style="font-size: 18px ;padding: 10px">
        <i class="nc-icon nc-vector "></i> Under Construction
      </div>
    </div>
    <!--<div class="card-footer ">
      <hr>
      <div class="stats">
        <i class="fa fa-history"></i> Updated 3 minutes ago
      </div>
    </div>-->
  </div>
</div>
<!--

<form  id="uploadfrom" ng-controller="formCtrl">
    <label>Titolo</label>
    <input class="form-control" type="text" name="title" ng-model="myform.title">
    <br>
    <label>Author</label>
    <input class="form-control" type="text" name="author" ng-model="myform.author">
    <br>
    <label>Description</label>
    <input class="form-control" type="text" name="description" ng-model="myform.description">
    <br>
    <input id="inp_file" type="file" file-input="files" multiple="multiple" />

    <br>
    <label>tre</label>
    <input class="form-control" type="text" name="lol" ng-model="myform.lol">
    <br>
    <br>
    <br>
    <div id="success">{{success}}</div>
    <button class="btn btn-mini btn-info text-right" id='upload' ng-click='upload()' >Inserisci</button>
</form>  -->