<html>

<head>
    <title>Dymer List</title>
    <script>
        var dymerQueries = [{"bool": {"must": [{"term": {"_index": "dih"}	}]}}];
        var dymerconf = {
            notImport : [ "" ]
        };

        var jsonConfig = {
            query: { 'query': { 'query' : dymerQueries[0]}},
            endpoint: 'entity.search',
            viewtype: 'teaserlist',
            target: {
                teaserlist: {
                    id: "#cont-MyList",
                    action: "html",
                    reload:false
                },
                fullcontent: {
                    id: "#cont-MyList",
                    action: "html"
                }
            }
        };

        function mainDymerView() {
            drawEntities(jsonConfig);
            var index = 'dih';
            loadModelListToModal($('#cont-addentity'), index);
        }
    </script>
    <script id="dymerurl" src="http://localhost/public/cdn/js/dymer.viewer.js"></script>

</head>

<body class="container">


<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Dymer Toolbar">
            <div class="btn-group" role="group" aria-label="First group">
                <button id="primodfil" type="button" class="btn btn-outline-secondary" onclick="drawEntities(jsonConfig)"><i class="fa fa-home" aria-hidden="true"></i> list</button>

            </div>
            <div class="input-group" id="cont-addentity">
            </div>
        </div>

    </div>
</div>


<div id="cont-MyList">
</div>
</body>

</html>