<div class="row" >
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Mapper Permission Configuration<span class='pull-right'>
				</h5>
				
			</div>
			<div class="card-body ">
				<!--Nuovo ruolo--> 
				<div class="row">
					<input type="hidden" ng-model="formData._id" name="_id" id="_id">
					<div class=" col-4">
						<input type="text" class="form-control col-12" name="custom_role" placeholder="new role name" id="custom_role" ng-model="formData.role" ng-value="">
					</div>
					<div class="col-6 text-left ">
					 
						<a class="btn btn-sm_ btn-primary" target="_blank" style="    margin: 0;" href="" ng-click="saveconfigrules(formData) ">  Add role</a>
				 
					</div>
        		</div>
				
				<br/> 
				<table class="table    table-sm  ">
					<thead class=" text-primary ">
						<th>
							ROLE
						</th>
						<th ng-repeat="(key, val) in typerole.perms.entities " class="text-center" >
							{{ key}}
						</th>
						<th class=" text-center ">
						</th>
					</thead>
					<tbody>
						<tr ng-repeat="el in listPerm | orderBy:'el.role'" class="nopadding">
							<td class="nopadding">
								<!--ROLE-->
								<label class="text-info" data-index="{{el._id}}">&nbsp;<i class="nc-icon nc-badge" style="
									top: 1px;
									position: relative;
								"></i><span  style="
									font-weight: bold;
								"> {{el.role}} </span></label>
								<!--ENTITY-->
								<div ng-repeat="element in el.elements" class="divodd" >
									&nbsp;&nbsp;&nbsp;{{ element.entity }}
								</div>	
							</td>
							 <td ng-repeat="(key, val) in typerole.perms.entities " class="nopadding" >
								<div  class="text-center "><label ><span ng-if="!$parent.$first">{{ key}}</span> </label></div>
								<div ng-repeat="ent in el.elements"   class="text-center divodd">
								   <!--{{ ent.entity }} -->
								 <div ng-repeat="element in el.elements  | filter:{ entity:  ent.entity  }: true">
									<!-- <div>{{ element}}</div>     -->
									<div ng-repeat="prm in element.functions | filter:{ operations:key }: true" >
										<!--<div>F:_{{ key}}_{{ prm}}_</div>   -->
										<div ng-if="prm.checked == true">
											<!--<input id="select_{{element.functions[2][key]}}" name="select_{{element.functions[2][key]}}" value="{{ ent.entity }}" type="checkbox" ng-click="changePermission($parent.$parent.$index ,key, $event, ent.entity)" checked>	-->
											<input style="cursor: pointer;" type="checkbox" checked ng-click="changePermission(el, key, $event, ent.entity)">	
										</div>
										<div ng-if="prm.checked == false">
											<input  style="cursor: pointer;" type="checkbox" ng-click="changePermission(el, key, $event, ent.entity)">	
										</div>
									</div>
								</div>
								</div>	
							</td> 
							<td  class="text-center nopadding "> 
								<!--BUTTONS-->
								<div class="btn-group pr-2" role="group" aria-label="Basic example">
									<span  style="cursor: pointer;"  class="btn btn-sm btn-outline-primary me-2" ng-click="saveRole($index, formData)"><i class="fa fa-save " aria-hidden="true"></i>  Save </span> 
									<br><br><span  style="cursor: pointer;"  class="btn btn-sm btn-outline-danger"  ng-click="removeRole($index)"><i class="fa fa-trash " aria-hidden="true"></i> Delete</span>
								</div>
							</td>				
						</tr>
					</tbody>
				</table>
    		</div>
		</div>
	</div>
</div>
