<div class="row" ng-repeat="config in libraryCardsConfigs">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title" ng-click="config.showConfig = !config.showConfig">{{config.title}}
					<span class="pull-right">
                        <i class="fa fa-cogs burgherAction"
                           aria-hidden="true"
                        ></i>
                    </span>
				</h4>
			</div>
			<div class="card-body" ng-show="config.showConfig" style="overflow-y: hidden">
				<h5>Seleziona i file da attivare:</h5>
				<table class="table table-hover table-sm dataTable no-footer custom-table" id="{{config.tableId}}">
					<caption></caption>
					<thead class="text-primary">
					<tr role="row">
						<th class="text-center" ng-repeat="column in config.columns" aria-controls="{{config.tableId}}">{{column}}</th>
						<th class="text-center" aria-controls="{{config.tableId}}">Activated</th>
					</tr>
					</thead>
					<tbody id="{{config.tableBodyId}}">
					<!-- Il corpo della tabella verrà generato dinamicamente con JavaScript -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title" ng-click="showNewLibrary = ! showNewLibrary">Add Libraries
					<span class="pull-right">
						<i class="fa fa-cogs burgherAction"
						   aria-hidden="true"
						></i>
                    </span>
				</h4>
			</div>
			<div class="card-body" ng-show="showNewLibrary">
				<h5>Library</h5>
				<!-- Aggiungi qui il tuo form o altre parti specifiche per "Add Libraries" -->
			</div>

		</div>
	</div>
</div>
