<div class="col-md-12">
    <div class="card ">
        <div class="card-header ">
            <h5 class="card-title">Dymer Administration</h5>
            <div class="card-category">
                Manager Light
                <!--  <a href="/demodownload/Form/ExampleFormTemplate.zip" class="btn btn-wd btn-warning  float-right " target="_self">
                    <i class="fa fa-download"></i> Example Entity Form/Templates
                </a>-->
                <a href="/demodownload/dymer_manager.html" class="btn btn-wd btn-info  float-right " target="_self">
                    <i class="fa fa-download"></i> Manager Light
                </a>

            </div>
        </div>
        <div class="card-body ">

            <div class="row row-eq-height">
                <div class="col-2  text-center">
                    <div class="crop-height rounded border ">
                        <img src="../assets/img/demo/manager_home.png" data-toggle="modal" data-target="#myModalRList" class="img-thumbnail   cur-p scale  ">
                    </div>

                    <div id="myModalRList" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalRList" aria-hidden="true">
                        <div class="modal-dialog" style=" max-width: 80%;  ">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="../assets/img/demo/manager_home.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Manager Light </small>
                </div>
                <div class="col-2  text-center">
                    <div class="crop-height  rounded border">
                        <img src="../assets/img/demo/manager_genform.png" data-toggle="modal" data-target="#myModalRListD" class="img-thumbnail  cur-p scale  ">
                    </div>

                    <div id="myModalRListD" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalRListD" aria-hidden="true">
                        <div class="modal-dialog" style=" max-width: 80%;  ">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="../assets/img/demo/manager_genform.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Model</small>
                </div>

                <div class="col-2   text-center">
                    <div class="crop-height  rounded border">
                        <img src="../assets/img/demo/manafer_gentemplate.png" data-toggle="modal" data-target="#myModalCList" class="img-thumbnail   cur-p scale  ">
                    </div>

                    <div id="myModalCList" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalCList" aria-hidden="true">
                        <div class="modal-dialog" style=" max-width: 80%; max-height: 80%; ">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="../assets/img/demo/manafer_gentemplate.png" style="margin:0 auto;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Template</small>
                </div>
                <div class="col-2   text-center">
                    <div class="crop-height  rounded border">
                        <img src="../assets/img/demo/example_formrender.png" data-toggle="modal" data-target="#example_formrender" class="img-thumbnail   cur-p scale  ">
                    </div>

                    <div id="example_formrender" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="example_formrender" aria-hidden="true">
                        <div class="modal-dialog" style=" max-width: 80%; max-height: 80%; ">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="../assets/img/demo/example_formrender.png" style="margin:0 auto;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Example Model</small>
                </div>
                <div class="col-2   text-center">
                    <div class="crop-height  rounded border">
                        <img src="../assets/img/demo/exmaple-codeform.png" data-toggle="modal" data-target="#exmaple-codeform" class="img-thumbnail   cur-p scale  ">
                    </div>

                    <div id="exmaple-codeform" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exmaple-codeform" aria-hidden="true">
                        <div class="modal-dialog" style=" max-width: 80%; max-height: 80%; ">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="../assets/img/demo/exmaple-codeform.png" style="margin:0 auto;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Example Code Model </small>
                </div>
                <div class="col-2   text-center">
                    <div class="crop-height  rounded border">
                        <img src="../assets/img/demo/example_elastic.jpg" data-toggle="modal" data-target="#example_elastic" class="img-thumbnail   cur-p scale  ">
                    </div>

                    <div id="example_elastic" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="example_elastic" aria-hidden="true">
                        <div class="modal-dialog" style=" max-width: 80%; max-height: 80%; ">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="../assets/img/demo/example_elastic.jpg" style="margin:0 auto;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Example Entity Saved</small>
                </div>
            </div>
            <div>
                <br>
                <p>
                    Following the code needed to view a light version of DYMER administration system. <br> With the light version it is possible:
                    <ul>
                        <li>Upload and View a Model</li>
                        <li>Upload and View a Template</li>
                        <li>Create new Entity</li>
                    </ul>
                </p>
                <p>Create a js function named <b>mainDymerModel()</b>, define the json that configures the query to execute and pass it in the funtion <b>loadFormList(url,target,query)</b></p>
                <pre class=" language-javascript" data-language="javascript">
 <code class=" language-javascript"><span class="token tag">&lt;script&gt;</span>
    var <span class="token function">d_uid</span>=<span class="token keyword">'&lt;user-id&gt;'</span>; 
	var <span class="token function">d_gid</span>=<span class="token keyword">'&lt;group-id&gt;'</span>;
    function <span class="token function">mainDymerModel</span>() {
        var myQuery = {};
        
        var geturl = getendpoint('form'); <span class="token attr-name"> // model's url</span>
        myQuery = { "query": { "instance._index": { $ne: "general" } } }; <span class="token attr-name"> // all models with index not equal 'general'</span>
        <span class="token function">loadFormList</span>(geturl, $('#cont-FormList'), myQuery);
        
        myQuery = { "query": { "instance._index": "general" } };<span class="token attr-name"> // all models with index equal 'general'</span>
        <span class="token function">loadFormList</span>(geturl, $('#cont-GeneralList'), myQuery);

        geturl = getendpoint('template'); <span class="token attr-name"> // template's url</span>
        myQuery = { "query": { "instance._index": { $ne: "general" } } }; 
        <span class="token function">loadFormList</span>(geturl, $('#cont-TemplateList'), myQuery); 
    }
 <span class="token tag">&lt;/script&gt;</span></code></pre>

                <p>
                    Import the <b>dymer.manager.js</b> with id 'dymerurl' and set the &lt;dymerip&gt; </p>
                <pre class=" language-javascript" data-language="javascript"><code class=" language-javascript"><span class="token tag"> &lt;script id="dymerurl" src="<span class="token keyword">&lt;dymerip&gt;</span>/public/cdn/js/dymer.manager.js"> &lt;/script&gt;</span></code></pre>
                <p>Create a DOM element where render the lists of models and templates with the same id passed in loadFormList and one lement with <b>id="cont-RenderForm"</b> where will be rendered the Models/Templates</p>
                <pre class=" language-javascript" data-language="javascript"><code class=" language-javascript"><span class="token tag"> &lt;div class="row"&gt;
    &lt;div class="col-2"&gt;
        &lt;label class="kms-title-label"&gt;Uploader&lt;/label&gt;
        &lt;div <span class="token keyword">id="cont-GeneralList"</span>&gt;
        &lt;/div&gt;
        &lt;label class="kms-title-label"&gt;Create Entities&lt;/label&gt;
        &lt;div <span class="token keyword">id="cont-FormList"</span>&gt;
        &lt;/div&gt;
        &lt;label class="kms-title-label"&gt;View Templates&lt;/label&gt;
        &lt;div <span class="token keyword">id="cont-TemplateList"</span>&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div <span class="token function">id="cont-RenderForm"</span> class="col-10"&gt;    
    &lt;/div&gt;
 &lt;/div&gt;
</span></code></pre>

                <p>

                    Dymer Viewer imports Bootstrap v4 and jQuery 3, if you use previous versions add a json object called <b>dymerconf</b> as below to exclude the import. To set the 'user id' and 'group id' add the variables <b>d_uid</b> and <b>d_gid</b>.
                </p>
                <pre class=" language-javascript" data-language="javascript">
<code class=" language-javascript"> var <span class="token function">d_uid</span> = <span class="token keyword">'&lt;user-id&gt;'</span>; <span class="token attr-name">// user id</span>
 var <span class="token function">d_gid</span> = <span class="token keyword">'&lt;group-id&gt;'</span>; <span class="token attr-name">// group id</span> 
 var <span class="token function">dymerconf</span> = { <span class="token attr-name">// disable import bootstrap & jquery</span>
    <span class="token function">notImport : ["bootstrap","jquery"]</span>
 };</span></code></pre>
            </div>
        </div>


        <div class="card-footer ">
            <hr />
            <div class="stats"><i class="fa fa-history"></i> Updated 11/03/2019</div>
        </div>
    </div>
</div>
<!--
<script>
  $(document).ready(function () {
  var jsonObj = {
      query: {
        "instance": {
          "index": "geopoint",
          "type": "webcontent"
        }
      },
      endpoint: 'entity.search',
      viewtype: 'teaserlist',
      target: {
        teaserlist: {
          id: "#cont-MyList",
          action: "html",
          reload: false
        },
        fullcontent: {
          id: "#cont-MyList",
          action: "html"
        }
      }
    };
  var jsonViewer = new JSONViewer();
  document.querySelector("#jsonRender").appendChild(jsonViewer.getContainer());
  jsonViewer.showJSON(jsonObj, 1);
  console.log('ciao');
  });
    </script>-->