<div class="col-md-12">
    <div class="card ">
        <div class="card-header ">
            <h5 class="card-title">Dymer Administration</h5>
            <div class="card-category">
                Manager Light
                <a href="/demodownload/Form/ExampleFormTemplate.zip" class="btn btn-wd btn-warning  float-right " target="_self">
                    <i class="fa fa-download"></i> Example Entity Form/Templates
                </a>
                <a href="/demodownload/kms_manager.html" class="btn btn-wd btn-info  float-right " target="_self">
                    <i class="fa fa-download"></i> Manager Light
                </a>

            </div>
        </div>
        <div class="card-body ">

            <div class="row row-eq-height">
                <div class="col-2  text-center">
                    <div class="crop-height rounded border ">
                        <img src="../assets/img/demo/manager_home.png" data-toggle="modal" data-target="#myModalRList" class="img-thumbnail   cur-p scale  ">
                    </div>

                    <div id="myModalRList" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalRList" aria-hidden="true">
                        <div class="modal-dialog" style=" max-width: 80%;  ">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="../assets/img/demo/manager_home.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Manager Light </small>
                </div>
                <div class="col-2  text-center">
                    <div class="crop-height  rounded border">
                        <img src="../assets/img/demo/manager_genform.png" data-toggle="modal" data-target="#myModalRListD" class="img-thumbnail  cur-p scale  ">
                    </div>

                    <div id="myModalRListD" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalRListD" aria-hidden="true">
                        <div class="modal-dialog" style=" max-width: 80%;  ">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="../assets/img/demo/manager_genform.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Model</small>
                </div>

                <div class="col-2   text-center">
                    <div class="crop-height  rounded border">
                        <img src="../assets/img/demo/manafer_gentemplate.png" data-toggle="modal" data-target="#myModalCList" class="img-thumbnail   cur-p scale  ">
                    </div>

                    <div id="myModalCList" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalCList" aria-hidden="true">
                        <div class="modal-dialog" style=" max-width: 80%; max-height: 80%; ">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="../assets/img/demo/manafer_gentemplate.png" style="margin:0 auto;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Template</small>
                </div>
                <div class="col-2   text-center">
                    <div class="crop-height  rounded border">
                        <img src="../assets/img/demo/example_formrender.png" data-toggle="modal" data-target="#example_formrender" class="img-thumbnail   cur-p scale  ">
                    </div>

                    <div id="example_formrender" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="example_formrender" aria-hidden="true">
                        <div class="modal-dialog" style=" max-width: 80%; max-height: 80%; ">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="../assets/img/demo/example_formrender.png" style="margin:0 auto;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Example Model</small>
                </div>
                <div class="col-2   text-center">
                    <div class="crop-height  rounded border">
                        <img src="../assets/img/demo/exmaple-codeform.png" data-toggle="modal" data-target="#exmaple-codeform" class="img-thumbnail   cur-p scale  ">
                    </div>

                    <div id="exmaple-codeform" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exmaple-codeform" aria-hidden="true">
                        <div class="modal-dialog" style=" max-width: 80%; max-height: 80%; ">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="../assets/img/demo/exmaple-codeform.png" style="margin:0 auto;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Example Code Model </small>
                </div>
                <div class="col-2   text-center">
                    <div class="crop-height  rounded border">
                        <img src="../assets/img/demo/example_elastic.jpg" data-toggle="modal" data-target="#example_elastic" class="img-thumbnail   cur-p scale  ">
                    </div>

                    <div id="example_elastic" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="example_elastic" aria-hidden="true">
                        <div class="modal-dialog" style=" max-width: 80%; max-height: 80%; ">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="../assets/img/demo/example_elastic.jpg" style="margin:0 auto;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Example Entity Saved</small>
                </div>
            </div>
            <div>
                <br>
                <p>
                    Following the code needed to view a light version of DYMER administration system. <br> With the light version it is possible:
                    <ul>
                        <li>Upload and View a Model</li>
                        <li>Upload and View a Template</li>
                        <li>Create new Entity</li>
                    </ul>
                    Come si può notare dal codice presente nel file <b>kms_manager.html</b>, il tutto può essere realizzato importando solamente un singolo file (‘<b>kms.form.js</b>’) ed inserendo nella <i>function mainKmsForm()</i> i metodi da invocare.<br><br>
                    <b>Kms.form.js</b> si occuperà di importare ed eseguire tutti files necessari per il funzionamento della sezione di amministrazione.
                    <br><br> La function mainKmsForm() è la funzione che viene invocata al termine del caricamento di tutti i files.<br> Nella mainKmsForm() viene utilizzata la funzione ‘<i>loadFormlist(sourceUrl, target, datapost)</i>’ che necessita
                    del passaggio di tre parametri:
                    <ul>
                        <li>
                            sourceUrl : url del microservizio da dove recuperare i contenuti (l’indirizzo è mappato in un json di confugurazione e quindi basta utilizzare la funzione getendpoint e passare il microservizio che vogliamo interrogare form/template/entity)
                        </li>
                        <li>
                            target : l’elemento dom dove renderizzare la lista
                        </li>
                        <li>
                            datapost : la query da applicare alla chiamata
                        </li>
                    </ul>
                    <h4>Creazione Form</h4>
                    Gli elementi presenti nel form che dovranno essere serializzati per poter creare un'entità in elastichsearch, dovranno avere l'attributo <span class="text-success ">name</span> valorizzato secondo il costrutto <span class="text-warning">data['key']</span>.
                    <br> Il form html dovrà contenere necessariamente i seguenti elementi:
                    <pre class='code code-html'>

      &lt;<span class="text-danger ">input</span> <span class="text-success ">name</span>=&quot;<span class="text-warning ">instance[index]</span>&quot; type=&quot;hidden&quot; <span class="text-success ">value</span>=&quot;<span class="text-warning ">index-entità</span>&quot;&gt;
      &lt;<span class="text-danger ">input</span> <span class="text-success ">name</span>=&quot;<span class="text-warning ">instance[type]</span>&quot;  type=&quot;hidden&quot; <span class="text-success ">value</span>=&quot;<span class="text-warning ">type-entità</span>&quot;&gt;
    </pre>
                    <b>instance[index] </b> e <b>instance[type]</b> possono essere rapportati al 'database' e 'tabella' dei classici Database RDBMS.<br>

                    <pre class='code code-html'>
      &lt;form id=&quot;industrialTrialForm&quot; <span class="text-warning ">class=&quot;senderForm&quot;</span>&gt;
        <span class="text-warning">&lt;input name=&quot;instance[index]&quot; type=&quot;hidden&quot; value=&quot;geopoint&quot;&gt;
        &lt;input name=&quot;instance[type]&quot; type=&quot;hidden&quot; value=&quot;webcontent&quot;&gt;
        &lt;input name=&quot;data[type]&quot; type=&quot;hidden&quot; value=&quot;pilot&quot;&gt;</span>
        &lt;div class=&quot;rendered-form&quot;&gt;
          &lt;div class=&quot;form-group field-trial_title&quot;&gt;
            &lt;label class=&quot;kms-title-label&quot;&gt;Name&lt;/label&gt;
            <span class="text-warning">&lt;input type=&quot;text&quot; class=&quot;form-control&quot; name=&quot;data[name]&quot;&gt;</span>
            &lt;small class=&quot;form-text text-muted&quot;&gt;Please provide the name of the plant /
            laboratory&lt;/small&gt;
          &lt;/div&gt;
          &lt;div class=&quot;form-group&quot;&gt;
            &lt;label class=&quot;kms-title-label&quot;&gt;Logo&lt;/label&gt;
            <span class="text-warning">&lt;input type=&quot;file&quot; class=&quot;form-control&quot; name=&quot;data[logo]&quot;&gt;</span>
            &lt;small class=&quot;form-text text-muted&quot;&gt;Please provide an image identifying the
            initiative or the initiatives provider&lt;/small&gt;
          &lt;/div&gt;
          &lt;div class=&quot; form-group field-description&quot;&gt;
            &lt;label for=&quot;description&quot; class=&quot;kms-title-label&quot;&gt;Description&lt;/label&gt;
            <span class="text-warning">&lt;textarea type=&quot;textarea&quot; class=&quot;form-control&quot;name=&quot;data[description]&quot;&gt;&lt;/textarea&gt;</span>
            &lt;small class=&quot;form-text text-muted&quot;&gt;Please provide a summary of the funding
            opportunity or the accelerator organization&lt;/small&gt;
          &lt;/div&gt;
          &lt;div class=&quot; form-group field-trial_title&quot;&gt;
            &lt;label class=&quot;kms-title-label&quot;&gt;Link&lt;/label&gt;
            <span class="text-warning">&lt;input type=&quot;text&quot; class=&quot;form-control&quot; name=&quot;data[link]&quot;&gt;</span>
            &lt;small class=&quot;form-text text-muted&quot;&gt;Please provide the link to the plant website&lt;/small&gt;
          &lt;/div&gt;
          &lt;div class=&quot; form-group field-trial_title&quot;&gt;
            &lt;label class=&quot;kms-title-label&quot;&gt;Responsible&lt;/label&gt;
            <span class="text-warning">&lt;input type=&quot;text&quot; class=&quot;form-control&quot; name=&quot;data[responsible]&quot;&gt;</span>
            &lt;small class=&quot;form-text text-muted&quot;&gt;Please specify the name of the plant responsible&lt;/small&gt;
          &lt;/div&gt;
          &lt;div class=&quot;form-group <span class="text-warning">repeatable&quot;</span>&gt;
            &lt;input type=&quot;hidden&quot; class=&quot;form-control&quot; name=&quot;data[location][type]&quot;
            value=&quot;Point&quot;&gt;
            &lt;label class=&quot; &quot;&gt;Latitudine&lt;/label&gt;
            <span class="text-warning">&lt;input type=&quot;number&quot; class=&quot;form-control&quot; name=&quot;data[location][coordinates][0]&quot;&gt;</span>
            &lt;label class=&quot; &quot;&gt;Longitude&lt;/label&gt;
            <span class="text-warning">&lt;input type=&quot;number&quot; class=&quot;form-control&quot; name=&quot;data[location][coordinates][1]&quot;&gt;</span>
          &lt;/div&gt;
          &lt;label for=&quot;description&quot; class=&quot;kms-title-label&quot;&gt;Multimedia&lt;/label&gt;
          &lt;div class=&quot;form-group repeatable <span class="text-warning">first-repeatable&quot;</span>&gt;
            &lt;div&gt;
              &lt;label for=&quot;description&quot; class=&quot; &quot;&gt;Label&lt;/label&gt;
              <span class="text-warning">&lt;input type=&quot;text&quot; class=&quot;form-control&quot;name=&quot;data[multimedia][0][multimedia_label]&quot;&gt;</span>
              &lt;label for=&quot;description&quot; class=&quot; &quot;&gt;Link&lt;/label&gt;
              <span class="text-warning">&lt;input type=&quot;text&quot; class=&quot;form-control&quot; name=&quot;data[multimedia][0][multimedia_link]&quot;&gt;</span>
              &lt;small class=&quot;form-text text-muted&quot;&gt;Please provide links to any useful media content illustrating
              possible experiments in the plant (videos and photos).&lt;/small&gt;
            &lt;/div&gt;
          <span class="text-warning"> &lt;div class=&quot;action-br&quot;&gt;
              &lt;span class=&quot;btn btn-outline-primary btn-sm&quot; onclick=&quot;cloneRepeatable($(this))&quot;&gt;+&lt;/span&gt;
              &lt;span class=&quot;btn btn-outline-danger btn-sm act-remove&quot;
              onclick=&quot;removeRepeatable($(this))&quot;&gt;-&lt;/span&gt;
            &lt;/div&gt;</span>
          &lt;/div&gt;
          &lt;div class=&quot;alert alertaction&quot; role=&quot;alert&quot; style=&quot;display: none;&quot;&gt;
            &lt;button type=&quot;button&quot; class=&quot;close&quot; onclick=&quot;$(this).closest('.alert').slideUp()&quot;&gt;
            &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
            &lt;/button&gt;
            &lt;div class=&quot;msg_title&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;msg_txt&quot;&gt;&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;text-right&quot;&gt;
            <span class="text-warning">&lt;span class=&quot;btn btn-mini btn-info pull-right&quot; onclick=&quot;actionPostMultipartForm('entity',$(this),undefined, undefined,undefined,undefined,true)&quot;&gt;Submit&lt;/span&gt;</span>
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/form&gt;
    </pre>
                </p>
            </div>
        </div>


        <div class="card-footer ">
            <hr />
            <div class="stats"><i class="fa fa-history"></i> Updated 11/03/2019</div>
        </div>
    </div>
</div>
<!--
<script>
  $(document).ready(function () {
  var jsonObj = {
      query: {
        "instance": {
          "index": "geopoint",
          "type": "webcontent"
        }
      },
      endpoint: 'entity.search',
      viewtype: 'teaserlist',
      target: {
        teaserlist: {
          id: "#cont-MyList",
          action: "html",
          reload: false
        },
        fullcontent: {
          id: "#cont-MyList",
          action: "html"
        }
      }
    };
  var jsonViewer = new JSONViewer();
  document.querySelector("#jsonRender").appendChild(jsonViewer.getContainer());
  jsonViewer.showJSON(jsonObj, 1);
  console.log('ciao');
  });
    </script>-->