<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image" style="background:url(&quot;https://raw.githubusercontent.com/Engineering-Research-and-Development/DYMER/master/screenshots/bg-ver.jpg&quot;);background-position: center;background-size: cover; min-height: 280px; ">
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="row">
                                    <div class=" col-12">
                                        <div class="text-center"><img class="rotate-20" src="https://raw.githubusercontent.com/Engineering-Research-and-Development/DYMER/master/screenshots/dymer-logo.png" style="width: 45px;"></div>

                                        <h1 class="h4   mb-4 text-center" style="color:#023d7d;">Sign in to DYMER</h1>

                                        <form name="form text-left" ng-submit="login_()" role="form">
                                            <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                                                <label for="username">Username</label>
                                                <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />
                                                <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                                            </div>
                                            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                                                <label for="password">Password</label>
                                                <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
                                                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                                            </div>

                                            <div class="alert alert-danger  " ng-show="vm.errorlogin">
                                                <button type="button" aria-hidden="true" class="close" aria-label="Close" ng-click="vm.errorlogin=false">
                                                    <i class="nc-icon nc-simple-remove"></i>
                                                </button>
                                                <span>
                                                    <b> Incorrect username or password</b> </span>
                                            </div>
                                            <div class="form-actions">
                                                <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</button>
                                            </div>
                                        </form>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form name="form" ng-submit="login_()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>

        <div class="alert alert-danger  " ng-show="vm.errorlogin">
            <button type="button" aria-hidden="true" class="close" aria-label="Close" ng-click="vm.errorlogin=false">
              <i class="nc-icon nc-simple-remove"></i>
            </button>
            <span>
              <b> The username and password you entered did not match our records.  </b> Please double-check and try again. </span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>
-->

<!--
<div class="alert alert-info">
    Username: test<br />
    Password: test
</div>
<div ng-show="error" class="alert alert-danger">{{error}}</div>
<form name="form" ng-submit="login()" role="form">
    <div class="form-group">
        <label for="username">Username</label>
        <i class="fa fa-key"></i>
        <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <i class="fa fa-lock"></i>
        <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
    </div>
    <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Login</button>
        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    </div>
</form>-->