<div class="col-md-12">
  <div class="card ">
    <div class="card-header ">
      <h5 class="card-title">KMS</h5>
      <p class="card-category"> add template </p>
    </div>
  <div class="card-body text-center">
    <div class="alert-warning" style="font-size: 18px ;padding: 10px">
      <i class="nc-icon nc-vector "></i> Under Construction
    </div>
  </div>
    <!--<div class="card-footer ">
      <hr>
      <div class="stats">
        <i class="fa fa-history"></i> Updated 3 minutes ago
      </div>
    </div>-->
  </div>
</div>
<!--
<form ng-submit="addTempl.postObj(entData);">
    <label>Titolo</label>
    <input class="form-control" type="text" name="title" ng-model="addTempl.entData.title">
    <br>
    <label>Author</label>
    <input class="form-control" type="text" name="author" ng-model="addTempl.entData.author">
    <br>
    <label>Description</label>
    <input class="form-control" type="text" name="description" ng-model="addTempl.entData.description">
    <br>
    <div id="success">{{success}}</div>
    <button class="btn btn-mini" type="submit">Inserisci</button>
</form> -->