<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 ">
                        <h5 class="card-title ">FIWARE ADAPTER<span class='pull-right'> </i> </span></h5>
                    </div>

                </div>


                <!-- <p class="card-category">Handcrafted by our friends from
                      
                        </p>-->




            </div>
            <div class="card-body">
                <div id="editAsset">

                    <div class="row">
                        <div class="col-12 ">
                            <h5>Insert</h5>
                        </div>
                        <input type="hidden" ng-model="fwadapter.config.insert.servicetype">
                        <input type="hidden" ng-model="fwadapter.config.insert.id">
                    </div>
                    <div class="row ">
                        <div class="col-2 ">
                            <div class="form-group ">
                                <label class="text-info">Method</label>
                                <select ng-model="fwadapter.config.insert.configuration.method " class="form-control ">
                                    <option value="GET">GET</option>
                                    <option value="POST">POST</option>
                                    <option value="PUT">PUT</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-3 ">
                            <div class="form-group ">
                                <label class="text-info">Host</label>
                                <input type="text" ng-model="fwadapter.config.insert.configuration.host " class="form-control ">
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="form-group ">
                                <label class="text-info">Port</label>
                                <input type="text " class="form-control " ng-model="fwadapter.config.insert.configuration.port ">
                            </div>
                        </div>

                        <div class="col-5 ">
                            <div class="form-group ">
                                <label class="text-info">Path</label>
                                <input type="text " class="form-control " ng-model="fwadapter.config.insert.configuration.path ">
                            </div>
                        </div>
                        <div class="col-12 ">
                            <div class="form-group ">
                                <label class="text-info">Relations</label><small style="color: #8c8985;"> (indexes
                                    of the relations to be imported separated by commas, if this
                                    field is empty all the relations present
                                    will be imported)</small>
                                <input type="text " class="form-control " ng-model="fwadapter.config.insert.configuration.relations">
                            </div>
                        </div>
                    </div>
                    <div class="row text-right ">
                        <div class="col-12 ">
                            <span class="btn btn-info " ng-click="savefwadapterConfig(fwadapter.config.insert) ">Save</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row ">
                        <div class="col-12 ">
                            <h5>Update</h5>
                        </div>
                        <input type="hidden" ng-model="fwadapter.config.update.servicetype ">
                        <input type="hidden" ng-model="fwadapter.config.update.id">
                    </div>
                    <div class="row ">
                        <div class="col-2 ">
                            <div class="form-group ">
                                <label class="text-info">Method</label>
                                <select ng-model="fwadapter.config.update.configuration.method " class="form-control ">
                                    <option value="GET">GET</option>
                                    <option value="POST">POST</option>
                                    <option value="PUT">PUT</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-3 ">
                            <div class="form-group ">
                                <label class="text-info">Host</label>
                                <input type="text " ng-model="fwadapter.config.update.configuration.host " class="form-control ">
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="form-group ">
                                <label class="text-info">Port</label>
                                <input type="text " class="form-control " ng-model="fwadapter.config.update.configuration.port ">
                            </div>
                        </div>
                        <div class="col-5 ">
                            <div class="form-group ">
                                <label class="text-info">Path</label>
                                <input type="text " class="form-control " ng-model="fwadapter.config.update.configuration.path ">
                            </div>
                        </div>
                        <div class="col-12 ">
                            <div class="form-group ">
                                <label class="text-info">Relations</label><small style="color: #8c8985;"> (indexes
                                    of the relations to be imported separated by commas, if this
                                    field is empty all the relations present
                                    will be imported)</small>
                                <input type="text " class="form-control " ng-model="fwadapter.config.update.configuration.relations">
                            </div>
                        </div>
                    </div>
                    <div class="row text-right ">
                        <div class="col-12 ">
                            <span class="btn btn-info " ng-click="savefwadapterConfig(fwadapter.config.update) ">Save</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row ">
                        <div class="col-12 ">
                            <h5>Delete</h5>
                        </div>
                        <input type="hidden" ng-model="fwadapter.config.delete.servicetype ">
                        <input type="hidden" ng-model="fwadapter.config.delete.id">
                    </div>
                    <div class="row ">
                        <div class="col-2 ">
                            <div class="form-group ">
                                <label class="text-info">Method</label>
                                <select ng-model="fwadapter.config.delete.configuration.method " class="form-control ">
                                    <option value="GET">GET</option>
                                    <option value="POST">POST</option>
                                    <option value="PUT">PUT</option>
                                    <option value="DELETE">DELETE</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-3 ">
                            <div class="form-group ">
                                <label class="text-info">Host</label>
                                <input type="text " ng-model="fwadapter.config.delete.configuration.host " class="form-control ">
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="form-group ">
                                <label class="text-info">Port</label>
                                <input type="text " class="form-control " ng-model="fwadapter.config.delete.configuration.port ">
                            </div>
                        </div>
                        <div class="col-5 ">
                            <div class="form-group ">
                                <label class="text-info">Path</label>
                                <input type="text " class="form-control " ng-model="fwadapter.config.delete.configuration.path ">
                            </div>
                        </div>
                        <div class="col-12 ">
                            <div class="form-group ">
                                <label class="text-info">Relations</label><small style="color: #8c8985;"> (indexes
                                    of the relations to be imported separated by commas, if this
                                    field is empty all the relations present
                                    will be imported)</small>
                                <input type="text " class="form-control " ng-model="fwadapter.config.delete.configuration.relations">
                            </div>
                        </div>
                    </div>

                    <div class="row text-right ">
                        <div class="col-12 ">
                            <span class="btn btn-info " ng-click="savefwadapterConfig(fwadapter.config.delete) ">Save</span>
                        </div>
                    </div>

                    <hr>
                    <div class="row ">
                        <div class="col-6 ">
                            <h5>Batch </h5>
                            <small style="color: #8c8985;">all entities that have the 'after_insert fw_adapter' hook
                                will be sent</small>
                        </div>
                        <div class="col-6  text-right "><span class="btn btn-primary " ng-click="dispatchfwadapter() "><i class="fa fa-play" aria-hidden="true"></i></span>
                            <!--  <span class="btn btn-success "><i class="fa fa-link" aria-hidden="true"></i></span>
                                                                    <span class="btn btn-warning "><i class="fa fa-chain-broken" aria-hidden="true"></i></span>-->
                        </div>
                        <input type="hidden" ng-model="fwadapter.config.dispatch.servicetype ">
                        <input type="hidden" ng-model="fwadapter.config.dispatch.id">
                    </div>
                    <div class="row ">
                        <div class="col-2 ">
                            <div class="form-group ">
                                <label class="text-info">Method</label>
                                <select ng-model="fwadapter.config.dispatch.configuration.method " class="form-control ">
                                    <option value="GET">GET</option>
                                    <option value="POST">POST</option>
                                    <option value="PUT">PUT</option>
                                    <option value="DELETE">DELETE</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-3 ">
                            <div class="form-group ">
                                <label class="text-info">Host</label>
                                <input type="text " ng-model="fwadapter.config.dispatch.configuration.host " class="form-control ">
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="form-group ">
                                <label class="text-info">Port</label>
                                <input type="text " class="form-control " ng-model="fwadapter.config.dispatch.configuration.port ">
                            </div>
                        </div>
                        <div class="col-5 ">
                            <div class="form-group ">
                                <label class="text-info">Path</label>
                                <input type="text " class="form-control " ng-model="fwadapter.config.dispatch.configuration.path ">
                            </div>
                        </div>
                        <div class="col-12 ">
                            <div class="form-group ">
                                <label class="text-info">Relations</label><small style="color: #8c8985;"> (indexes
                                    of the relations separated by commas, if this
                                    field is empty all the relations present
                                    will be sent)</small>
                                <input type="text " class="form-control " ng-model="fwadapter.config.dispatch.configuration.relations">
                            </div>
                        </div>
                    </div>

                    <div class="row text-right ">
                        <div class="col-12 ">
                            <span class="btn btn-info " ng-click="savefwadapterConfig(fwadapter.config.dispatch) ">Save</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">

            </div>
        </div>
    </div>
</div>