<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Openness Search Configuration<span class='pull-right'><i
                            class="fa fa-cogs burgherAction" ng-click="showConfigOpnSearch = ! showConfigOpnSearch"
                            aria-hidden="true"></i> </span></h5>
                <!-- <p class="card-category">Handcrafted by our friends from
                      
                        </p>-->
            </div>
            <div class="card-body" ng-show="showConfigOpnSearch">
                <div id="editAsset">

                    <div class="row">
                        <div class="col-12 ">
                            <h5>Insert</h5>
                        </div>
                        <input type="hidden" ng-model="opnsearch.config.insert.servicetype">
                        <input type="hidden" ng-model="opnsearch.config.insert.id">
                    </div>
                    <div class="row ">
                        <div class="col-2 ">
                            <div class="form-group ">
                                <label>Method</label>
                                <select ng-model="opnsearch.config.insert.configuration.method " class="form-control ">
                                    <option value="GET">GET</option>
                                    <option value="POST">POST</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-3 ">
                            <div class="form-group ">
                                <label>Host</label>
                                <input type="text" ng-model="opnsearch.config.insert.configuration.host " class="form-control ">
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="form-group ">
                                <label>Port</label>
                                <input type="text " class="form-control " ng-model="opnsearch.config.insert.configuration.port ">
                            </div>
                        </div>

                        <div class="col-5 ">
                            <div class="form-group ">
                                <label>Path</label>
                                <input type="text " class="form-control " ng-model="opnsearch.config.insert.configuration.path ">
                            </div>
                        </div>
                        <div class="col-5 ">
                            <div class="form-group ">
                                <label>Dymer Path</label>
                                <input type="text " class="form-control " ng-model="opnsearch.config.insert.configuration.dymerpath">
                            </div>
                        </div>
                    </div>
                    <div class="row text-right ">
                        <div class="col-12 ">
                            <span class="btn btn-info " ng-click="saveOpnSearchConfig(opnsearch.config.insert) ">Save</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row ">
                        <div class="col-12 ">
                            <h5>Update</h5>
                        </div>
                        <input type="hidden" ng-model="opnsearch.config.update.servicetype ">
                        <input type="hidden" ng-model="opnsearch.config.update.id">
                    </div>
                    <div class="row ">
                        <div class="col-2 ">
                            <div class="form-group ">
                                <label>Method</label>
                                <select ng-model="opnsearch.config.update.configuration.method " class="form-control ">
                                    <option value="GET">GET</option>
                                    <option value="POST">POST</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-3 ">
                            <div class="form-group ">
                                <label>Host</label>
                                <input type="text " ng-model="opnsearch.config.update.configuration.host " class="form-control ">
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="form-group ">
                                <label>Port</label>
                                <input type="text " class="form-control " ng-model="opnsearch.config.update.configuration.port ">
                            </div>
                        </div>
                        <div class="col-5 ">
                            <div class="form-group ">
                                <label>Path</label>
                                <input type="text " class="form-control " ng-model="opnsearch.config.update.configuration.path ">
                            </div>
                        </div>
                        <div class="col-5 ">
                            <div class="form-group ">
                                <label>Dymer Path</label>
                                <input type="text " class="form-control " ng-model="opnsearch.config.update.configuration.dymerpath">
                            </div>
                        </div>
                    </div>
                    <div class="row text-right ">
                        <div class="col-12 ">
                            <span class="btn btn-info " ng-click="saveOpnSearchConfig(opnsearch.config.update) ">Save</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row ">
                        <div class="col-12 ">
                            <h5>Delete</h5>
                        </div>
                        <input type="hidden" ng-model="opnsearch.config.delete.servicetype ">
                        <input type="hidden" ng-model="opnsearch.config.delete.id">
                    </div>
                    <div class="row ">
                        <div class="col-2 ">
                            <div class="form-group ">
                                <label>Method</label>
                                <select ng-model="opnsearch.config.delete.configuration.method " class="form-control ">
                                    <option value="GET">GET</option>
                                    <option value="POST">POST</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-3 ">
                            <div class="form-group ">
                                <label>Host</label>
                                <input type="text " ng-model="opnsearch.config.delete.configuration.host " class="form-control ">
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="form-group ">
                                <label>Port</label>
                                <input type="text " class="form-control " ng-model="opnsearch.config.delete.configuration.port ">
                            </div>
                        </div>
                        <div class="col-5 ">
                            <div class="form-group ">
                                <label>Path</label>
                                <input type="text " class="form-control " ng-model="opnsearch.config.delete.configuration.path ">
                            </div>
                        </div>
                    </div>
                    <div class="col-5 ">
                        <div class="form-group ">
                            <label>Dymer Path</label>
                            <input type="text " class="form-control " ng-model="opnsearch.config.delete.configuration.dymerpath">
                        </div>
                    </div>
                    <div class="row text-right ">
                        <div class="col-12 ">
                            <span class="btn btn-info " ng-click="saveOpnSearchConfig(opnsearch.config.delete) ">Save</span>
                        </div>
                    </div>
                    <!--MG - Run RULE - Inizio -->
                    <div class="row">
                        <div class="col-12 ">
                            <h5>Get</h5>
                        </div>
                        <input type="hidden" ng-model="opnsearch.config.get.servicetype">
                        <input type="hidden" ng-model="opnsearch.config.get.id">
                    </div>
                    <div class="row ">
                        <div class="col-2 ">
                            <div class="form-group ">
                                <label>Method</label>
                                <select ng-model="opnsearch.config.get.configuration.method " class="form-control ">
                                    <option value="GET">GET</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-3 ">
                            <div class="form-group ">
                                <label>Host</label>
                                <input type="text" ng-model="opnsearch.config.get.configuration.host " class="form-control ">
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="form-group ">
                                <label>Port</label>
                                <input type="text " class="form-control " ng-model="opnsearch.config.get.configuration.port ">
                            </div>
                        </div>

                        <div class="col-5 ">
                            <div class="form-group ">
                                <label>Path</label>
                                <input type="text " class="form-control " ng-model="opnsearch.config.get.configuration.path ">
                            </div>
                        </div>
                        <div class="col-5 ">
                            <div class="form-group ">
                                <label>Dymer Path</label>
                                <input type="text " class="form-control " ng-model="opnsearch.config.get.configuration.dymerpath">
                            </div>
                        </div>
                    </div>
                    <div class="row text-right ">
                        <div class="col-12 ">
                            <span class="btn btn-info " ng-click="saveOpnSearchConfig(opnsearch.config.get) ">Save</span>
                        </div>
                    </div>
                    <hr>
                    <!--MG - Run RULE - Fine -->
                </div>
            </div>
            <div class="card-footer ">

            </div>
        </div>
    </div>
</div>
<!-- START -->
<div class="row ">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Openness Search Users<span class='pull-right'><i
                        class="fa fa-bars burgherAction" ng-click="showMappingUser = ! showMappingUser"
                        aria-hidden="true"></i> </span></h5>
            </div>
            <div class="card-body" ng-show="showMappingUser">
                <div id="userAsset">

                    <div class="row">
                        <input type="hidden" ng-model="opnUser._id">
                    </div>
                    <div class="row ">
                        <div class="col-3">
                            <div class="form-group ">
                                <label>Company ID</label>
                                <input type="text" ng-model="opnUser.d_cid" class="form-control ">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group ">
                                <label>User ID</label>
                                <input type="text" class="form-control " ng-model="opnUser.d_uid">
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group ">
                                <label>Group ID</label>
                                <input type="text" class="form-control " ng-model="opnUser.d_gid">
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group ">
                                <label>User mail</label>
                                <input type="email" class="form-control " ng-model="opnUser.d_mail">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>User Password</label>
                                <input type="text" class="form-control " ng-model="opnUser.d_pwd">
                            </div>
                        </div>
                    </div>
                    <div class="row text-right ">
                        <div class="col-12 ">
                            <span class="btn btn-info " ng-click="openUserConfig()">Save</span>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
</div>
<!---->

<div class="row ">
    <div class="col-md-12 ">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title ">Openness Search Mapping Rule<span class='pull-right'> <i
                            class="fa fa-bars burgherAction " aria-hidden="true "
                            ng-click="showMappingRule=! showMappingRule "></i></span></h5>
                <!-- <p class="card-category ">Handcrafted by our friends from
                          
                            </p>-->
            </div>

            <div class="card-body " ng-show="showMappingRule ">
                <div id="editAsset ">
                    <div class="row ">
                        <div class="col-3 ">
                            <div class="form-group ">
                                <label>Index</label>
                                <input type="text " class="form-control " ng-model="rule.op_index" ng-change="clearString()">
                                </select>
                            </div>
                            <div class="form-group ng-hide "  >
                                <label>Type</label>
                                <input type="text " class="form-control " ng-model="rule.op_type" ng-change="clearString()">
                            </div>
                          
                        </div>
                        <div class="col-3 ">
                            <div class="form-group ">
                                <label>Send Notification</label>
                                <div>
                                    <input type="checkbox" ng-model="rule.sendnotification">   
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div ng-show="listEntitiesAvailable.length">
                                <label>Entities available <i class="fa fa-bars burgherAction " aria-hidden="true "
                                        ng-click="showlistEntitiesAvailable=! showlistEntitiesAvailable "></i></label>
                                <div class="row" ng-show="showlistEntitiesAvailable ">
                                    <div class="col-3" ng-repeat="el in listEntitiesAvailable"> {{el._index}} <i class="fa fa-arrow-circle-up dympointer" aria-hidden="true" ng-click="copyPastIndType(el)"></i></div>
                                </div>
                            </div>
                            <div ng-show="listModelsAvailable.length" style="margin-top: 10px;">
                                <label>Models available <i class="fa fa-bars burgherAction " aria-hidden="true "
                                        ng-click="showlistModelsAvailable=! showlistModelsAvailable "></i></label>
                                <div class="row" ng-show="showlistModelsAvailable ">
                                    <div class="col-3" ng-repeat="el in listModelsAvailable"> {{el._index}} - {{el._type}} <i class="fa fa-arrow-circle-up dympointer" aria-hidden="true" ng-click="copyPastIndType(el)"></i></div>
        
                                </div>
        
                            </div>
                        </div>
                        <div class="col-12 ">
                            <div class="form-group ">
                                <label>Mapping</label>
                                <textarea rows="10 " class="form-control " ng-model="rule.op_mapping" style="min-height: 190px " readonly></textarea>
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"> <label class="text-info"></label>
                        <p>Before <b>Running the Rule</b>, check that you have activated the relative <b>hooks</b> to enable the <b>insert</b>, <b>delete</b> and <b>update</b> operations
                        for the <b>Openness Search</b> service.    
                        The <b>insert</b> of an <b>Asset</b>, with the data of the corresponding <b>Entry</b>, is carried out if it is missing.
                        An Asset is <b>updated</b> if its modification date is less recent than that of the corresponding <b>Entry</b>.
                        The <b>delete</b> operation of an <b>Asset</b> is carried out if it does not match any <b>Entry</b>.</p>
                    </div>
                    <div class="row text-right ">
                        <div class="col-12 ">
                            <span class="btn btn-info " ng-click="createOpnSearchRule(rule)"><i class="fa fa-map-signs "
                                    aria-hidden="true "></i> Add</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">

            </div>
        </div>
    </div>
</div>

 




<div class="row ">
    <div class="col-md-12 ">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title text-warning ">Entities<span class="card-category " style="font-size: small; "> vs
                        Assets</span></h5>
            </div>
            <div class="card-body ">
                <div class=" ">
                    <table class="table ">
                        <thead class=" text-primary ">
                            <th>
                                index
                            </th>
                            <th>
                                Mapping
                            </th>
                            <th style="text-align: center">
                                Send Notification
                            </th>
                            <th class=" text-center ">
                                Delete
                            </th>
                            <th class=" text-center ">
                                Run Rule
                            </th>
                            <th class=" text-center ">
                                Last Update
                            </th>
                            <th class=" text-center "></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="el in ListRules ">
                                <td>
                                    {{ el._index }}
                                </td>
                                <td><i class="fa fa-bars burgherAction " aria-hidden="true " ng-click="showDetails=! showDetails "></i>
                                    <pre ng-show="showDetails ">{{ el.mapping |  json }}</pre>
                                </td>
                                <td style="max-width: 100px;text-align: center;">
                                    <i class="fa fa-power-off " ng-class="(el.sendnotification==true || el.sendnotification==undefined) ? 'text-success' : 'text-danger'" aria-hidden="true"></i> <br>                                {{ el.typerelations }}
                                     </td>
                                <td class=" text-center ">
                                    <i class="fa fa-trash deleteAction " aria-hidden="true " ng-click="removeOpnSearchRule( $index) " ng-confirm-click="Confirm unfavorite? "></i>
                                </td>
                                <!--MG - Run RULE - Inizio -->
                                <td class=" text-center ">
                                    <i class="fa fa-play deleteAction " aria-hidden="true " ng-click="runOpnSearchRule($index)" ng-confirm-click="Do you confirm Run Rule? "></i>
                                </td>
                                <td class=" text-center ">
                                    <span ng-bind="el.changed | date:'MM/dd/yyyy HH:mm'"></span>
                                </td>
                                <td class="card-footer ">
                                    <div class="text-center" ng-show="el.changed">
                                        <i class="fa fa-info burgherAction" ng-click="showFilterItem = ! showFilterItem; showentitydet();" aria-hidden="true"></i>
                                    </div>
                                    <div ng-show="showFilterItem">
                                        <pre>{{ el.info |  json }}</pre>
                                    </div>
                                </td>
                                <!--MG - Run RULE - Fine -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>