<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title text-warning">Sql<span class="card-category" style="font-size: small;"> <i class="fa fa-gamepad"></i> </span>EntitySearch</h5>

            </div>
            <div class="card-body   ">
                <div id="builder" class="col-md-12"></div>
                <div class="text-right">
                    <button class="btn btn-sm btn-primary" id="btn-get"><i class="fa fa-get-pocket" aria-hidden="true"></i> Get Rules</button>
                    <button class="btn btn-sm  btn-info" id="btn-test"><i class="fa fa-table" aria-hidden="true"></i> Test Rules</button>
                    <!--<button class="btn btn-sm  btn-success" id="btn-set">Set Rules</button>-->
                    <button class="btn btn-sm  btn-warning" id="btn-reset"><i class="fa fa-eraser" aria-hidden="true"></i> Reset</button>
                </div>
                <br>
                <div id="queryResult"></div>
                <div id="renderqueryResult"></div>
            </div>
            <!--<div class="card-footer ">
  <hr>
  <div class="stats">
    <i class="fa fa-history"></i> Updated 3 minutes ago
  </div>
</div>-->
        </div>
    </div>
</div>