<!--MG - Social Statistics - Inizio-->
<div class="col-md-12">
    <div class="card ">
        <div class="card-header ">
            <h5 class="card-title">Social Statistics</h5>
            <div class="card-category">
            </div>
        </div>
        <div class="card-body ">
            <div class=" ">
                <table class="table  table-hover table-sm " id="dtStatistics">
                    <thead class=" text-primary">
                        <tr>
                            <th>#</th>
                            <th>
                                Type
                            </th>
                            <th class=" text-center">
                                Title
                            </th>
                            <th class=" text-center">
                                User
                            </th>
                            <th class=" text-center">
                                Action
                            </th>
                            <th class=" text-center">
                                Counter
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="el in dtStatistics">
                            <td>
                                {{$index+1}}
                            </td>
                            <td>
                                {{ el.type }}
                            </td>
                            <td class=" text-center">
                                {{ el.title }}
                            </td>
                            <td class=" text-center">
                                {{ el.email }}
                            </td>
                            <td class=" text-center">
                                {{ el.act }}
                            </td>
                            <td class=" text-center">
                                {{ el.timestamps.length }}
                            </td>
                            <td class=" text-center actmodindexdash">
                                <i class="fa fa-trash deleteAction " title="Flush statistics" ng-click="deleteStatisticsById(el,el._id)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer ">
            <hr/>
            <div class="stats"><i class="fa fa-history"></i> Updated 17/10/2024</div>
        </div>
    </div>
</div>
<!--MG - Social Statistics - Fine-->