<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Import Entities</h5>
                <!-- <p class="card-category">Handcrafted by our friends from
                      
                        </p>-->
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-2 ">
                        <div class="form-group">
                            <label>Method</label>
                            <select ng-model="method" class="form-control">
                                            <option value="GET"  >GET</option>
                                            <option value="POST" disabled>POST</option> 
                                        </select>
                        </div>
                    </div>

                    <div class="col-3  ">
                        <div class="form-group">
                            <label>Host</label>
                            <input type="text" ng-model="host" class="form-control" placeholder="http://localhost">
                        </div>
                    </div>
                    <div class="col-2  ">
                        <div class="form-group">
                            <label>Port</label>
                            <input type="text" class="form-control" placeholder="8008" ng-model="port">
                        </div>
                    </div>
                    <div class="col-5  ">
                        <div class="form-group">
                            <label>Path</label>
                            <input type="text" class="form-control" placeholder="path" ng-model="path">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12  ">
                        <div class="form-group">
                            <label>Mapping</label>

                            <textarea rows="10" class="form-control" ng-model="mapping" style="min-height: 190px"></textarea>
                            </textarea>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="update ml-auto mr-auto  ">
                        <button type="submit" class="btn btn-primary btn-round" ng-click="importEntFl( )">Import</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12  ">
                        {{import_result}}
                    </div>
                </div>
            </div>
        </div>

    </div>