<body class="container">
    <div class="row">

        <div class="col-12  ">


            <div id="cont-addentity"></div>

            <!--<span onclick="loadHtmlForm('http://localhost:8080/api/forms/api/v1/form/content/5dcd1fc2414d924134ade5d6', $('#cont-RenderForm')) " class="btn">Web Content Geo Point<i class="fa fa-plus-circle listAddEntityicon" aria-hidden="true"></i></span>-->
        </div>

    </div>
    <div class="row">
        <div class="col-12  ">
            <br>
            <span class="btn btn-mini btn-info " onclick="cambia(jsonConfig)">geo</span>
            <span class="btn btn-mini btn-info " onclick="cambia(jsonConfig2)">industrialtest</span>
            <br><br>
        </div>
    </div>
    <div id="dymer_breadcrumb">

    </div>
    <div id="cont-MyList">
    </div>