mat-card-content {
  min-height: 300px;
  padding-bottom: 48px;
}

:host ::ng-deep {

  .rule-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px; /* Aggiunge un po' di spazio sotto */
  }

  .rule-container .rule-actions {
    align-self: flex-end; /* Allinea il pulsante a destra */
  }

  /* Fa in modo che i select e gli input occupino tutta la larghezza disponibile nel loro contenitore */
  .rule-filter-container .form-control,
  .rule-operator-container .form-control,
  .rule-value-container .form-control {
    width: 100%;
  }
}